 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container text-center">
        <header>
            <h1 class="bg-dark text-white p-4">Parlor Games</h1>
        </header>

        <main role="main">
            <my-temp-message />
            @RenderBody()
        </main>
        @if (ViewBag.Title == "War")
        {
    <footer>
        <vc:war-winnings-display></vc:war-winnings-display>
        <h5 class="bg-light p-4">Hands Won: @Model.Player.GameWins  | Hands Lost: @Model.Player.GameLosses</h5>
        <h5 class="bg-light p-4">Games Won: @Model.Player.TotalWins | Games Lost: @Model.Player.TotalLosses</h5>
    </footer>
        }
        else if (ViewBag.Title == "Blackjack")
        {
            <footer>
                <vc:winnings-display></vc:winnings-display>
            </footer>
        }
    </div>
</body>
</html>
